.project-header {
    display: flex;
    justify-content: space-between;
    // position: sticky;
    // z-index: 998;
    // top: 10%;

    .text-card {
        width: 85%;
    }
}

.projects-section {
    .card-list {
        .card-view {
            .card-grid{
                width: min-content;
                justify-content: space-evenly;
            }
        }
    }
}

.edit-project-section {
    .card {
        height: 550px;
        border-radius: 5%; 
    }
    .description-section,
    .title-section {
        display: flex;
        justify-content: space-evenly;
        .title-card {
            .card {
                width: 180px;
                height: 40px;
                border-radius: 25%;
                h3 {
                    text-align: center;
                    margin-top: 10px;
                }
            }
        }
        .card{
            height: 40px;
        }
        .custom-input {
            width: 400px;
            border-radius: 5%;
        }
    }
    .custom-save {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }
}

.inner-header {
    text-align: center;
    position: sticky;
    z-index: 997;
}

.user-project-edit-skill {
    .vertical-scroll {
        .card-grid {
            padding: 7px;
            width: auto;
        }
    }
}

.add-new-skill {
    .card {
        border-radius: 25%;
        height: 40px;
    }
    display: flex;
    justify-content: space-evenly;
}