.text-card {
  background-color: #e0e5ec;
  height: 60px;
  position: relative;
  overflow: hidden;
  outline: none;
  text-align: center;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
  border-radius: 5%;
}
