.collabration-notification-card {
  background-color: #DEC0F1;
  position: relative;
  padding: 25px;
  overflow: hidden;
  outline: none;
  box-shadow: 9px 9px 27px #bda3cd,
              -9px -9px 27px #ffddff;
  border-radius: 5%;
  font-size: 20px;
  transition: trasform 0.25s ease-out;

  &:hover {
    transform: scale(1.02);
  }
}
