.skill-card {
  background-color: #DEC0F1;
  position: relative;
  overflow: hidden;
  outline: none;
  box-shadow: 9px 9px 27px #bda3cd,
              -9px -9px 27px #ffddff;
  border-radius: 5%;
  height: 155px;
  width: 140px;

  .skill-svg {
    height: 128px;
    width: 128px;
  }

  .skill-name {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .cancel-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
