.card {
  background-color: #dec0f1;
  // background:  linear-gradient(145deg, #16a5ab, #1ac4cb);
  position: relative;
  overflow: hidden;
  outline: none;
  box-shadow: 9px 9px 27px #bda3cd,
              -9px -9px 27px #ffddff;
  // =========================================
  // box-shadow: 9px 9px 27px #caafdb,
  //             -9px -9px 27px #f2d1ff;
  //
  // 
  //===========================================
  // border-radius: 5%;
  // box-shadow:  20px 20px 60px #149ca2,
  //          -20px -20px 60px #1cd2db;

  //     border-radius: 18px;
  // background: #178ca4;
  // box-shadow:  5px 5px 14px #126d80,
  //              -5px -5px 14px #1cabc8;

  //              border-radius: 18px;
  // background: #9d4edd;
  // box-shadow:  7px 7px 14px #793caa,
  //              -7px -7px 14px #c160ff;

  // border-radius: 37px;
  // background: #c77dff;
  // box-shadow:  7px 7px 14px #9960c4,
  //              -7px -7px 14px #f59aff;

  border-radius: 18px;
  // background: #9db4c0;
  // box-shadow:  7px 7px 14px #798b94,
  //              -7px -7px 14px #c1ddec;
}
