.notification {
  .card-grid {
    .card {
      padding: 15px;
      .card-list {
        width: auto;
        .notification-title {
          display: inline-block;
          width: 100%;
          text-align: center;
        }
        .collabration-notification-card {
          margin: 15px;
          .mod-button {
            display: flex;
            justify-content: space-evenly;
          }
        }
      }
    }
  }
}

.inner-header {
  text-align: center;
  position: sticky;
  z-index: 997;
}
