.notification {

        .card-grid {
            .card {
                padding: 15px;
                .notification-title {
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                }
                .card-view {
                    margin: 15px;
                }
            }
        }
    
}