.search-page {
  .search-bar {
    display: flex;
    justify-content: center;
    .card {
      padding-left: 10px;
      display: flex;
      justify-content: center;
      width: 60%;
      height: 50px;
    }
  }
  .card {
    height: 650px;
    .card-grid {
      display: flex;
      width: min-content;
      justify-content: space-evenly;
    }
  }
}

.search-info {
  position: relative;
  display: flex;
  justify-content: center;
  top: 50%;
}
