.header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: #e0e5ec;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  outline: none;
  justify-content: space-between;
  z-index: 999;
  opacity: 100;

  .options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 7px;
  }

  Link {
    text-decoration: none;
  }
}
