.card {
  border-radius: 10px;
  .custom-input {
    background: none;
    color: black;
    font-size: 18px;
    padding-top: 10px;
    display: block;
    width: 100%;
    border: none;
    outline: none;
  }
}
