.custom-card {
  .card {
    height: 100px;
    .custom-textbox {
      background: none;
      // background-color: white;
      color: black;
      font-size: 18px;
      padding-top: 10px;
      display: block;
      width: 100%;
      height: 80px;
      border: none;
      outline: none;
    }
  }
}
